@model List<Lab11MyFirstMVCApp.Models.PersonOfTheYear>
<html>

<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
</head>
<body>
    <main>
        <h1 id="header">Time People of the Year</h1>
        <table id="table">
            <tr id="tableHeader">
                <th>Year</th>
                <th>Honor</th>
                <th>Name</th>
                <th>Country</th>
                <th>Birth Year</th>
                <th>Death Year</th>
                <th>Title</th>
                <th>Category</th>
                <th>Context</th>
            </tr>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Year</td>
                    <td>@person.Honor</td>
                    <td>@person.Name</td>
                    <td>@person.Country</td>
                    <td>@person.Birth_Year</td>
                    <td>@person.DeathYear</td>
                    <td>@person.Title</td>
                    <td>@person.Category</td>
                    <td>@person.Context</td>
                </tr>
            }
        </table>
    </main>
</body>
</html>